/* add your CSS here */
.pagrindinis {
  padding: 10px;
  border-style: double;
  text-align: center;
  width: 350px;
  background-color: #ded2cf;
  box-shadow: 5px 5px 5px #fce6df;
  margin: 0 auto;

}
h3 {
  text-decoration: underline;
  text-shadow: 5px 5px 5px #187e03;
}
.tekstas {
  display: inline-block;
  letter-spacing: 2px;
  Word-spacing: 5px;

  vertical-align: middle;
  padding: 10px;
  margin: 10px;
  border-style: double;
  text-align: center;
  width: 300px;
}
.description {
  font-style: italic;
}
ul {
  list-style: none;
  /* padding-left: 0; - nuimt itraukima */
  text-align: left;
}
.label {
  font-weight: bold;
  color: green;
}
img {
  box-shadow: 10px 10px 20px #187e03;
}
